/*----  Main card Style  ----*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
html {
  font-family: 'Courier New', Courier, monospace;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("../content/background.png");
  background-attachment: fixed;
}

nav {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 0;
}

nav h2 {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  text-align: center;
  font-family: 'Reggae One', cursive;
}

nav h1 {
  font-family: 'Baloo 2', cursive;
  margin-bottom: 15px;
  margin-top: 50px;
  font-size: 1.5rem;
  text-align: center;
}

nav .nav-content {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

nav .nav-content a {
  display: inline-block;
}

nav .nav-content a img {
  vertical-align: middle;
}

nav .nav-content a span {
  margin-top: 25px;
  display: inline-block;
  vertical-align: middle;
}

#demo {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

#cards_landscape_wrap-2 {
  text-align: center;
}

#cards_landscape_wrap-2 .container {
  padding-top: 80px;
  padding-bottom: 100px;
}

#cards_landscape_wrap-2 a {
  text-decoration: none;
  outline: none;
}

#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box {
  background: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box img {
  -webkit-transition: all .9s ease;
  transition: all .9s ease;
  width: 100%;
  height: 200px;
}

#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
  opacity: 0.7;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

#cards_landscape_wrap-2 .card-flyer .text-box {
  text-align: center;
}

#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
  padding: 30px 18px;
}

#cards_landscape_wrap-2 .card-flyer {
  background: #ffffffaf;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}

#cards_landscape_wrap-2 .card-flyer:hover {
  background: #fff;
  -webkit-box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}

#cards_landscape_wrap-2 .card-flyer .text-box p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}

#cards_landscape_wrap-2 .card-flyer .text-box h6 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}

/*---- End Main card Style  ----*/
.icons {
  float: left;
  margin-top: -4px;
  margin-right: 5px;
}

.icons h2 {
  margin-bottom: 0px;
}

.text-container .wide {
  width: 110%;
  margin: 0;
  padding: 0;
}

.sunrise-text-con .sunrise-text {
  width: 110%;
  padding-right: 5px;
}

/*CARDS 10 DAY*/
#cards_landscape_wrap-2 {
  text-align: center;
}

#cards_landscape_wrap-2 .container {
  padding-top: 80px;
  padding-bottom: 100px;
}

#cards_landscape_wrap-2 a {
  text-decoration: none;
  outline: none;
}

#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer-2 .image-box-2 {
  background: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer-2 .text-box-2 {
  text-align: center;
}

#cards_landscape_wrap-2 .card-flyer-2 .text-box-2 .text-container-2 {
  padding: 30px 18px;
}

#cards_landscape_wrap-2 .card-flyer-2 {
  background: #ffffffaf;
  margin-top: 50px;
  width: 450%;
  height: 400px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}

#cards_landscape_wrap-2 .card-flyer-2:hover {
  background: #fff;
  -webkit-box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}

#cards_landscape_wrap-2 .card-flyer-2 .text-box-2 p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}

#cards_landscape_wrap-2 .card-flyer-2 .text-box h6 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}

/*card*/
.stretch-card > .card {
  width: 100%;
  min-width: 100%;
}

body {
  background-color: #f9f9fa;
}

.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

@media (max-width: 991.98px) {
  .padding {
    padding: 1.5rem;
  }
}

@media (max-width: 767.98px) {
  .padding {
    padding: 1rem;
  }
}

.padding {
  padding: 5rem;
}

.grid-margin,
.purchace-popup > div {
  margin-bottom: 25px;
}

.card {
  border: 0;
  border-radius: 2px;
}

.card-weather {
  background: #e1ecff;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#d6eef6), color-stop(#dff0fa), color-stop(#e7f3fc), color-stop(#eff6fe), to(#f6f9ff));
  background-image: linear-gradient(to left bottom, #d6eef6, #dff0fa, #e7f3fc, #eff6fe, #f6f9ff);
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-weather .card-body:first-child {
  background: url("https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  position: relative;
  color: white;
  opacity: .9;
}

.layer {
  background-color: rgba(248, 247, 216, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card .card-body {
  padding: 1.88rem 1.81rem;
}

.card-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
}

.card-weather .weather-date-location {
  padding: 0 0 38px;
}

.h3,
h3 {
  font-size: 1.56rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.text-gray,
.card-subtitle,
.new-accounts ul.chats li.chat-persons a p.joined-date {
  color: #969696;
}

p {
  font-size: 13px;
}

.text-gray,
.card-subtitle,
.new-accounts ul.chats li.chat-persons a p.joined-date {
  color: #969696;
}

.card-weather .weather-data {
  padding: 0 0 4.75rem;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.display-3 {
  font-size: 2.5rem;
}

.card-weather .card-body {
  background: #ffffff;
}

.card-weather .weakly-weather {
  background: #ffffff;
  overflow-x: auto;
}

.card-weather .weakly-weather .weakly-weather-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14.28%;
          flex: 0 0 14.28%;
  border-right: 1px solid #f2f2f2;
  padding: 1rem;
  text-align: center;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.card-weather .weakly-weather .weakly-weather-item i {
  font-size: 1.2rem;
}

.card-body a {
  -webkit-transition: all  ease-in-out .5s;
  transition: all  ease-in-out .5s;
  width: 100%;
  color: inherit;
}

.card-body a:hover {
  text-decoration: none;
  background-color: rgba(102, 208, 243, 0.637);
}

.ten {
  width: auto;
  height: auto;
}

.ten .card:hover {
  -webkit-transition: all  ease-in-out 1s;
  transition: all  ease-in-out 1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.subtext {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.link-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.link-con .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: rgba(92, 217, 255, 0.479);
}

.link-con .links a {
  margin: -5px 10px;
  padding: 5px;
  color: black;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-size: 1.3rem;
}

.link-con .links a:hover {
  color: grey;
  text-decoration: none;
  font-size: 1.4rem;
}

hr {
  margin-left: 15px;
  width: 400px;
}
/*# sourceMappingURL=style.css.map */